        
.header {
            text-align: centir;
		right:-20px 
		width: 1050px;
 		position: -webkit-sticky; /* Safari */
		 position: sticky;
		
 		 
		
        }
        .logo {
        position: absolute;
        
        width: 106px; /* Adjust this value to change the width of the logo */
        height: auto; /* This will maintain the aspect ratio of the logo */
    }
    .logo-left {
        left: 250px; /* Adjust this value to move the left logo to the right */
    }
        .logo-right {
       right:0px 
	
        }
        .sidebar {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            width: 200px;
            padding: 20px;
            background-color: #f5f5f5;
 	text-align: center;
		
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: red;
            text-align: center;
        }
        
	
	body {
            background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('backgeound.jpg');
            background-size: cover;
	text-align: center;
	font-family: 'Jost', sans-serif;
	
        }

	.navbar {
            list-style-type: none;
            margin: 10px 0px 0px 235px;
            padding: 3px;
            overflow: hidden;
            background-color: #333;
	    border: 2px solid black;
		

        }
        .navbar li {
            float: left;
        }
        .navbar li a {
 float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 20px;
            text-decoration: none;
	border: 2px solid black;
	
        }
        .navbar li a:hover {
            background-color: #171;
        }
